<div class='container-fluid' id="item-container">
  <h2 id="list-<%= list.id %>" class="item-container-name"><%= list.name %></h2>
  <% list.items.each do |item| %>
    <%= render 'partials_html/item', item: item %>
  <% end %>
  <%= render 'partials_html/item_new' %>
</div>