<div class="list" id='list-<%= list.id %>'>
  <div class="name">
    <%= list.name %>
  </div>
  <div class='divider'></div>
  <div class="items">
    <span class="list-label">Items</span><span class="count"><%= list.items.count %></span>
  </div>
</div>