<div class="modal fade" id="destroy-list-modal" tabindex="-1" role="dialog" aria-labelledby="destroy-list-modal-label">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="destroy-list-modal-label">Destroy List</h4>
      </div>
      <div class="modal-body">
        <p>Destroy this list?<br><strong><span id="destroy-name"></span></strong></p>
        <p>All of the items in this list will be lost.</p>
        <button class="btn btn-danger" id="destroy-list-confirm">Destroy</button>
      </div>
    </div>
  </div>
</div>