<div class="modal fade" id="new-list-modal" tabindex="-1" role="dialog" aria-labelledby="new-list-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new-list-modal-label">New List</h4>
      </div>
      <div class="modal-body">
        <p>Please enter a name for your new list. Or, leave the field blank to accept the default name.</p>
        <%= form_for List.new, remote: true, html: {class: 'form-horizontal'} do |f| %>
          <div class="form-group">
            <%= f.label :name, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, placeholder: List.default_name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit 'Create List', class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>