@import "bootstrap-sprockets";
@import "bootstrap";
@import "items";
@import "lists";

body {
  font-size: 16px;
}

header {
  border-bottom: 1px solid #ddf;
  background-color: #eef;
  padding: 5px;
}