@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "items";
@import "lists";

body {
  font-size: 16px;
}

header {
  border-bottom: 1px solid #ddf;
  background-color: #eef;
  padding: 5px;
}

#sign-in-prompt {
  margin: 0 10%;
}

#flash-msg {
  min-height: 45px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fcd;
  padding: 10px 30px;
  width: 100%;
  opacity: 0;
  font-weight: bold;
  z-index: 1;
}