#item-container {
  margin: 0 5%;
  position: relative;

  .row {
    background-color: #ddf;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    position: absolute;
    width: 100%;

    &.overdue {
      background-color: #336;
      color: #fff;
    }

    &.done {
      background-color: #efe;
    }

    .item-content {
      cursor: pointer;

      &.done {
        text-decoration: line-through;
        cursor: initial;
        opacity: 0.3;
      }
    }

    .item-content:focus {
      cursor: text;
    }

    .due {
      opacity: 0.7;
      font-style: italic;
      cursor: pointer;
    }

    .due.no-due-date {
      opacity: 0.3;
    }
  }

  #new-item {
    background-color: #fee;
    cursor: pointer;

    #new-item-content {
      opacity: 0.3;

      &:focus {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) {

  #item-container {
    margin: 0 15%;
  }

}